/*
*Amethyst : #9b59b6
*/

::selection {
    background: #9b59b6;
    color: #fff;
}

::-moz-selection {
    background: #9b59b6;
    color: #fff;
}

#preloader,
.page-header,
.bg-primary,
.header-hero,
.sticky-wrapper.is-sticky .navbar-custom,
#subscribe,
.contact-section .contact-info,
.back-to-top:hover,
.btn-custom,
.scroll-indicator.go-top:before,
.scroll-indicator:before,
.scroll-indicator:after,
.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover,
.trial,
.checkbox input[type=checkbox]:checked + .checkbox-material .check {
    background-color: #9b59b6 !important;
}

.team .card {
    -webkit-box-shadow: 0px 0px 60px 0px rgba(155, 89, 182,0.60);
    box-shadow: 0px 0px 60px 0px rgba(155, 89, 182,0.60);
}

.best-price,
.card .header-primary,
.card-layer,
.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover,
.btn.btn-primary,
.btn.btn-primary:hover,
.btn.btn-primary:focus,
.btn.btn-primary:active,
.btn.btn-primary:active:focus,
.btn.btn-primary:active:hover {
    background-color: #9b59b6;
    box-shadow: 0 16px 26px -10px rgba(155, 89, 182, 0.44), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(156, 39, 176, 0.2)
}

a,
.form-group.is-focused label,
.form-group.is-focused label.control-label,
.icon.icon-primary {
    color: #9b59b6;
}

.form-group.is-focused .form-control {
    background-image: -webkit-linear-gradient(#9b59b6, #9b59b6);
    background-image: -o-linear-gradient(#9b59b6, #9b59b6);
    background-image: linear-gradient(#9b59b6, #9b59b6);
}

.clients:before,
.header-hero::after {
    background-color: rgba(155,89,182,0.7);
}

.clients,
.portfolio .btn.active,
.label.label-primary {
    background-color: #9b59b6 !important;
    color: #fff;
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
    background-color: #9b59b6;
    border-color: #9b59b6;
}

